body{
    line-height: 1.6;
}



h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
    font-style: normal;
}

#dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #323033;
}

#search-button{
    padding: 10px 20px;
    background-color: rgb(10, 105, 10);
    color: white;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    

}



.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.search-result{
    margin-bottom: 60px;
    width: 28%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.search-result.show {
    transform: scale(1);
    opacity: 1;
}

.search-result:hover img{
    opacity: 0.8;
}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #323033;
    display: block;
    padding: 5px;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
}

#show-more-button{
    background-color: aqua;
    font-size: 18px;
    display: block;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


body.dark-mode {
    background-color: #121212;
    color: #eee;
}

body.dark-mode #search-input,
body.dark-mode #search-button {
    background-color: #333;
    color: #eee;
}

body.dark-mode .search-result {
    background-color: #333;
}

body.dark-mode #dark-mode-toggle {
    background-color: #eee;
    color: #333;
}




@media screen and (max-width: 768px) {

    h1{
        font-size: 30px;
        padding-top: 20px;
    }
    #search-input{
        width: 80%;
        font-size: 16px;
      
    }
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }

    
}
@media screen and (max-width: 480px) {

    h1{
        font-size: 24px;
        margin: 20px 0 40px 0;
    }
    #search-input{
        width: 100%;
        padding: 10px;
        
    }
    #search-button{
        font-size:16px ;
    }

    #search-results{
     padding: 10px;
    }

    .search-result{
        width: 100%;
    }
    
    
}

@media screen and (max-width: 600px) {
    #dark-mode-toggle {
        top: 8px; 
        right: 5px; 
        padding: 8px 10px; 
        font-size: 12px; 
        border-radius: 20px; 
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    #dark-mode-toggle {
        top: 15px; 
        right: 5px; 
        padding: 9px 10px;
        font-size: 14px; 
        border-radius: 22px;
    }
}


@media screen and (min-width: 993px) {
    #dark-mode-toggle {
        top: 20px; 
        right: 20px; 
        padding: 10px 20px; 
        font-size: 16px; 
        border-radius: 25px; 
    }
}




/* @media (max-width: 768px) {
    
    form input {
        width: 90%;
    }

    #search-input {
        width: 90%;
    }

    #search-button {
        font-size: 16px;
        padding: 8px 15px;
    }

    
    .search-results {
        flex-direction: column;
        align-items: center;
    }

    .search-result {
        width: 90%; 
        margin-bottom: 20px;
    }

    .search-result img {
        height: auto; 
    }

    
    #show-more-button {
        width: 90%;
    }

    
    #app-section {
        padding: 10px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    
    .search-results {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .search-result {
        width: 45%; 
    }

    
    #search-input {
        width: 70%;
    }

    #search-button {
        font-size: 16px;
    }

    #show-more-button {
        font-size: 16px;
    }
}


@media (min-width: 1200px) {
   
    .container {
        max-width: 1000px;
    }

    
    .search-results {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .search-result {
        width: 30%; 
    }
} */
